<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.project.common.persistence.dao.ProjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.demo.project.common.persistence.modal.Project">
        <id column="project_id" property="projectId" />
        <result column="project_name" property="projectName" />
        <result column="introduction" property="introduction" />
        <result column="leader_id" property="leaderId" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="img" property="img" />
        <result column="create_time" property="createTime" />
        <result column="last_upd_time" property="lastUpdTime" />
    </resultMap>

</mapper>
